.sidebar {
  width: 100%;
  height: 100%;
  padding-right: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_logo {
    margin-bottom: 1.2rem;
    > h3 {
      margin: 0;
      font-size: 1.6rem;
      font-family: $font-heading;
    }
    > span {
      font-size: 0.77rem;
      font-weight: 500;
      color: $gray-light;
    }
  }
  &_switch {
    > span[class^='icon-'] {
      margin-right: 0.8rem;
      color: $main-dark;
      font-size: 1.2rem;
    }
  }
  &_bottom {
    > p {
      margin: 0;
      font-size: 0.88rem;
      &:nth-child(2) {
        color: $gray-dark;
        display: flex;
        align-items: center;
        > a {
          display: inline-flex;
          align-items: center;
          color: $gray-darker;
          transition: 0.2s color ease-in;
          &:hover,
          &:focus,
          &:active {
            color: $main-dark;
          }
          > span[class^='icon-'] {
            margin-left: 0.88rem;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
