.write {
  width: 100%;
  height: 100%;
  &_editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    > textarea {
      border: none;
      border-radius: 6px;
      background-color: transparent;
      padding: 0.4rem 0.6rem;
      transition: background-color 0.2s ease-in;
      color: $main-dark;
      resize: unset;
      line-height: 1.4;
      &:focus,
      &:hover {
        background-color: $gray-lightest;
      }
      &::placeholder {
        color: $gray-darker;
      }
    }
    &_title {
      margin-bottom: 1.4rem;
      font-size: 2.2rem;
      font-family: $font-heading;
    }
    &_body {
      flex: 1 0 0;
      font-size: 1.1rem;
      // max-height: 20rem;
    }
  }
}
