// colors
$main-dark: #222733;
$accent-color: #0facf3;
$whitish: #f6f6f6;
$gray-lightest: #efefef;
$gray-light: #c7c7c7;
$gray-dark: #989898;
$gray-darker: #747474;

// fonts
$font-regular: 'Open Sans', sans-serif;
$font-heading: 'Merriweather', serif;
